* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PoetsenOne";
  src: url("../fonts/PoetsenOne-Regular.ttf") format("truetype");
  font-display: swap;
}

body,
button,
input,
textarea {
  font-size: 16px;
  font-family: "PoetsenOne", sans-serif;
  --webkit-font-smoothing: antialiased;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

button {
  border: none;
  background: none;
  line-height: 0;
  cursor: pointer;
}

body {
  background-image: url(../img/fundo.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* Classes Auxiliares INICIO*/
.destaque {
  color: #00eda0;
}
/* Classes Auxiliares FIM*/

.content {
  width: 870px;
  margin: 0 auto;
  text-align: center;

  a {
    display: inline-block;
  }
}

.botao-acessar-site {
  text-align: right;

  img {
    width: 180px;
    height: 45.91px;
    transition: 300ms;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.2);
    }
  }
}

.logo {
  margin-top: -40px;

  img {
    width: 130px;
    height: 96px;
    transition: 300ms;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.2);
    }
  }
}

.main {
  width: 810px;
  height: 828px;

  margin: 0 auto;
  margin-top: -25px;

  background-image: url(../img/base.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  color: #d4d4d4;

  h1 {
    padding-top: 85px;

    color: #eab319;
    text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -0px 5px 4px #000,
      1px 1px 2px #000;

    font-weight: normal;
    font-size: 28px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000,
      2px 2px 2px #000;
  }

  .lista-dispositivos {
    background-color: #000;
    padding: 2px 15px;
    border-radius: 999px;
    display: inline-block;
    font-size: 14px;
  }

  .hall {
    margin-top: -20px;
    padding: 45px;

    background-image: url(../img/divisao.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {
      margin-top: -20px;
      width: 350px;
      height: 212.59px;
    }
  }

  .coleta {
    width: 810px;
    height: 70px;
    margin-top: -50px;
    background-image: url(../img/fundo-coleta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    p {
      padding-top: 8px;
    }

    span {
      font-size: 22px;
      text-shadow: -2px -2px 2px #000ba3, 2px -2px 2px #000ba3,
        -2px 2px 2px #000ba3, 2px 2px 2px #000ba3;
    }
  }

  .links-download {
    color: #fff;
    margin-top: 2px;

    background-color: #000;
    border-radius: 12px;
    padding: 5px;
    display: inline-block;

    button {
      display: inline-block;
      background-image: url(../img/fundo-botao-download.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      width: 165px;
      height: 50px;

      line-height: 45px;
      color: #743b1c;
      text-shadow: -2px -2px 2px #fffb93, 2px -2px 2px #fffb93,
        -2px 2px 2px #fffb93, 2px 2px 2px #fffb93;
      font-size: 18px;
      font-weight: bold;

      transition: 300ms;

      &:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
      }
    }

    p {
      font-size: 14px;
    }
  }

  .container {
    padding-top: 85px;

    .faq {
      display: inline-block;
      color: #fff;
      text-align: left;
      font-size: 14px;
      width: 370px;
      margin-left: 107.5px;
      padding-right: 20px;

      border-right-width: 2px;
      border-right-style: solid;
      border-right-color: #818181;
      border-radius: 2px;

      h3 {
        font-weight: normal;
        color: #f6e05d;
        text-shadow: -1px -1px 2px #512f13, 1px -1px 2px #512f13,
          -1px 1px 2px #512f13, 1px 1px 2px #512f13;
      }

      p {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .registro {
      display: inline-block;
      width: 240px;
      vertical-align: top;
      padding: 10px;
      margin-right: 87.5px;

      background-image: url(../img/fundo-registro.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      color: #ff4b4b;
      text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000,
        1px 1px 2px #000;
      font-size: 18px;

      button {
        display: inline-block;
        width: 150px;
        height: 80px;
        background-image: url(../img/fundo-botao-registro.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        line-height: 18px;

        color: #fff;
        text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000,
          1px 1px 2px #000;
        font-size: 18px;

        transition: 300ms;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.2);
        }
      }
    }
  }
}

.footer {
  margin-top: 5px;
  color: #d4d4d4;
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000,
    2px 2px 2px #000;
  font-size: 14px;
  padding-top: 5px;

  height: 28px;

  background-image: url(../img/rodape.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
  display: none;

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;

    color: #fff;
    text-align: center;
  }

  .android {
    display: none;
  }

  .iphone {
    display: none;
  }

  .modal-cadastro {
    display: none;
  }

  .modal-navegadores {
    display: none;
  }

  .pergunta1 {
    display: none;
  }
  .pergunta2 {
    display: none;
  }
  .pergunta3 {
    display: none;
  }
  .pergunta4 {
    display: none;
  }
  .pergunta5 {
    display: none;
  }

  .modal-mobile {
    width: 640px;
    height: 350px;

    background-image: url(../img/fundo-modal-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    h3 {
      font-weight: normal;
      margin-top: 88px;
      margin-right: 15px;
      font-size: 22px;

      color: #eabd59;
      text-shadow: -2px -2px 2px #451c08, 2px -2px 2px #451c08,
        -2px 2px 2px #451c08, 2px 2px 2px #451c08;
    }

    p {
      margin: 0 auto;
      margin-top: 15px;
      width: 400px;
      font-size: 18px;
    }

    a {
      display: inline-block;
      width: 250px;
      height: 50px;
      margin-top: 10px;
      line-height: 45px;

      color: #fff;
      text-shadow: -2px -2px 2px #3f1a07, 2px -2px 2px #3f1a07,
        -2px 2px 2px #3f1a07, 2px 2px 2px #3f1a07;

      background-image: url(../img/fundo-botao-mobile.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      transition: 300ms;

      &:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
      }
    }
  }

  .modal-faq {
    width: 750px;
    height: 470px;

    background-image: url(../img/fundo-pergunta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    h3 {
      font-weight: normal;
      margin-top: 57px;
      margin-left: 85px;
      text-align: left;
      font-size: 18px;
      color: #feeaa3;
      text-shadow: -2px -2px 2px #451c08, 2px -2px 2px #451c08,
        -2px 2px 2px #451c08, 2px 2px 2px #451c08;
    }

    p {
      text-align: left;
      width: 550px;
      margin: 60px auto 0 auto;
    }
  }

  form.modal-cadastro {
    background-image: url(../img/fundo-cadastro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 500px;
    height: 700px;
    margin: 0 auto;

    h1 {
      margin-top: 72px;
      font-size: 28px;
      color: #ecc35f;
      text-shadow: -2px -2px 2px #451c08, 2px -2px 2px #451c08,
        -2px 2px 2px #451c08, 2px 2px 2px #451c08;
    }

    label {
      display: block;
      margin-top: 15px;

      font-size: 20px;
      text-align: left;
      margin-left: 80px;

      color: #ecc35f;
      text-shadow: -2px -2px 2px #451c08, 2px -2px 2px #451c08,
        -2px 2px 2px #451c08, 2px 2px 2px #451c08;
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input {
      display: inline-block;

      background: none;
      border: none;

      width: 350px;
      height: 60px;

      padding-left: 20px;
      padding-right: 20px;

      color: #7f7f99;
      font-size: 18px;

      background-image: url(../img/fundo-input.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    div.check-termos {
      text-align: left;
      margin-left: 80px;
      margin-top: 10px;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        display: inline-block;
      }

      label.termos {
        display: inline-block;
        margin: 0;
        line-height: 20px;
        vertical-align: top;
        margin-left: 5px;
      }
    }

    button[type="submit"] {
      background: none;
      border: none;
      display: block;

      width: 350px;
      height: 60px;

      text-align: center;
      margin: 15px auto 0 auto;

      font-size: 28px;
      color: #fbe985;
      text-shadow: -2px -2px 2px #451c08, 2px -2px 2px #451c08,
        -2px 2px 2px #451c08, 2px 2px 2px #451c08;

      background-image: url(../img/fundo-botao-grande-registro.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      transition: 300ms;

      &:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
      }
    }
  }

  .modal-navegadores {
    background-image: url(../img/fundo-navegadores.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 810px;
    height: 427px;

    text-align: left;
    margin: 0 auto;

    h1 {
      text-align: center;
      margin-top: 68px;
      font-size: 24px;
      color: #ecc35f;
      text-shadow: -2px -2px 2px #451c08, 2px -2px 2px #451c08,
        -2px 2px 2px #451c08, 2px 2px 2px #451c08;
    }

    h3 {
      text-align: center;
      font-weight: normal;
      margin-top: -5px;

      color: #ecc35f;
      text-shadow: -2px -2px 2px #451c08, 2px -2px 2px #451c08,
        -2px 2px 2px #451c08, 2px 2px 2px #451c08;
    }

    div {
      width: calc((100% / 3) - 83px);
    }

    a {
      display: inline-block;
      position: relative;

      background-image: url(../img/fundo-botao-flash.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      color: #feeaa3;
      text-shadow: -2px -2px 2px #451c08, 2px -2px 2px #451c08,
        -2px 2px 2px #451c08, 2px 2px 2px #451c08;
      line-height: 1.2;

      transition: 300ms;

      &:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
      }
    }

    .flash {
      display: inline-block;
      margin-top: 20px;
      margin-left: 80px;

      a {
        width: 195px;
        height: 58px;
        margin-top: 12px;

        img {
          position: absolute;
          top: 50%;
          left: 11px;
          transform: translateY(-50%);
          width: 35px;
          height: 35px;
        }

        span {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50px;
          transform: translateY(-50%);
          text-align: center;
          font-size: 11px;
          line-height: 1.4;
        }
      }
    }

    .logger {
      display: inline-block;
      margin-top: 20px;
      margin-left: 40px;

      a {
        width: 195px;
        height: 58px;
        margin-top: 12px;

        img {
          position: absolute;
          top: 50%;
          left: 11px;
          transform: translateY(-50%);
          width: 35px;
          height: 35px;
        }

        span {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 55px;
          transform: translateY(-50%);
          text-align: center;
          font-size: 12px;
          line-height: 1.4;
        }
      }
    }

    .portables {
      display: inline-block;
      margin-top: 20px;
      margin-left: 35px;

      a {
        width: 190px;
        height: 50px;
        margin-top: 2px;

        background-image: url(../img/fundo-portables.png);

        img {
          position: absolute;
          top: 50%;
          left: 11px;
          transform: translateY(-50%);
          width: 30px;
          height: 30px;
        }

        span {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50px;
          transform: translateY(-50%);
          text-align: center;
          font-size: 11px;
          line-height: 1.4;
        }
      }
    }
  }
}

.mobile {
  display: none;
}

@media (max-width: 890px) {
  .content {
    display: none;
  }

  .mobile {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .logo {
    margin-top: -20px;

    img {
      width: 14.61vw;
      height: auto;
    }
  }

  .botao-acessar-site {
    margin-right: 20px;

    img {
      width: 20.22vw;
      height: auto;
    }
  }

  .main {
    width: 97.75vw; //870px
    height: auto; // 837px;
    margin-top: -10px;
    background-image: url(../img/mobile/base.png);
    background-position: top;

    h1 {
      padding-top: 10.11vw; // 90px
      font-size: 4.05vw; // 36px
    }

    p {
      margin-top: 1.69vw;
      margin-bottom: 0px;
      font-size: 2.7vw;
    }

    .lista-dispositivos {
      padding: 1.13vw 6.74vw;
      margin-top: 1.13vw;

      p {
        margin-top: 0;
      }
    }

    .hall {
      margin-top: -5.62vw;
      padding: 4.59vw 0px;
      background-image: url(../img/mobile/divisor.png);

      img {
        display: block;
        margin: 0 auto;
        padding-top: 2.81vw;
        width: 52.7vw;
        height: 32.02vw;
      }
    }

    .coleta {
      width: 93.75vw;
      height: 12.92vw;
      margin: 0 auto;
      text-align: center;
      margin-top: -3.93vw;

      p {
        padding-top: 2.25vw;
      }

      span {
        font-size: 3.6vw;
      }
    }

    .links-download {
      color: #fff;
      margin-top: 2.25vw;

      width: 93.75vw;

      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 12px;
      padding: 5px;
      display: inline-block;

      button {
        width: 29.21vw;
        height: 8.76vw;
        font-size: 3.15vw;
      }

      p {
        margin: 0;
        font-size: 2.25vw;
      }
    }

    .faq {
      color: #fff;
      text-align: left;
      margin: 0 auto;

      h3 {
        font-size: 4.05vw;
        text-align: center;
        font-weight: normal;
        color: #f6e05d;
        text-shadow: -1px -1px 2px #512f13, 1px -1px 2px #512f13,
          -1px 1px 2px #512f13, 1px 1px 2px #512f13;
        margin-top: 1.13vw;
        margin-bottom: 1.13vw;
      }

      p {
        margin: 0 auto;
        margin-bottom: 5px;
        cursor: pointer;
        font-size: 2.25vw;
        line-height: 2.5;
        padding-left: 11.24vw;
        width: 93.26vw;
        height: 6.07vw;

        background-image: url(../img/mobile/fundo-pergunta-faq.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .registro {
      width: 70.22vw;
      height: 20.45vw;
      margin: 0 auto;

      background-image: url(../img/mobile/overlay-registro.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      p {
        padding-top: 2.25vw;
        margin-bottom: 1.13vw;
        color: #ff4b4b;
        text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000,
          1px 1px 2px #000;
        font-size: 2.7vw;
      }

      button {
        width: 61vw;
        height: 10.44vw;

        background-image: url(../img/mobile/fundo-registro.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        font-size: 3.146vw;
        line-height: 3.146vw;
        color: #fff;
        text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000,
          1px 1px 2px #000;

        transition: 300ms;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.2);
        }
      }
    }
  }

  .footer {
    width: 83.48vw;
    height: 5.17vw;
    margin: 0 auto;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 9px;

    background-image: url(../img/mobile/fundo-rodape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    p {
      margin: 0;
      color: #d4d4d4;
      text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000,
        2px 2px 2px #000;
      font-size: 2.47vw;
    }
  }
}
